<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block body %}
    <title>Title</title>
</head>
<body>
<!-- restaurantapp/templates/restaurantapp/restaurant_menu.html -->
<h1>{{ restaurant.username }}'s Menu</h1>

<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td><img src="{{ item.image.url }}" alt="{{ item.name }}" width="100"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <a href="{% url 'place_order' item.id %}">Explore Now</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
{% endblock %}
</html>